body{
  font-family:  "Roboto", sans-serif;
  background-color: #E5E5E5;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}



.contenedor{
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "footer footer footer";
  height: 100vh;
  width: 100vw;
}

.contenedor .encabezado{
  background-color: #0A3871;
  padding: 15px;
  grid-area: header;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.encabezado span{
  color: #2c9caf;
  font-size: 2.5em;
  font-weight: 800;
}


.contenedor .mainSection{
grid-area: contenido;
}



.mainSection .inputText{
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  margin-top: 30px;
}

.inputText .text{
  background-color: #E5E5E5;
  /* border: none; */
  font-size: 2em;
  color: #ab49cc;
  resize: none;
  max-height: 70vh;
  width: 60vw;
  border: 1px solid #000;
}


textarea::placeholder{
  font-size: 1.2em;;
  color: #2c9caf;
  font-weight: 400;

}

.mainSection .text{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.mainSection .clarificationCont{
  background-color: #E5E5E5;
  color: #ab49cc;
  font-weight: 500;
  margin: 40px;
}

.mainSection .buttons{
    background-color: #E5E5E5;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.buttons .btnEncryptor{
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.btnEncryptor:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btnEncryptor::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btnEncryptor:hover::before {
  width: 250%;
}



.buttons .btnDecryptor{
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7f00b2;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7f00b2;
}

.btnDecryptor:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ab49cc;
  box-shadow: 4px 5px 17px -4px #7f00b2;
}

.btnDecryptor::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7f00b2;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btnDecryptor:hover::before{
  width: 250%;
}




 /* Inicio area mensaje encriptado */

.contenedor .messageSection{
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 40px;
}

.messageSection .areaMensaje{
  margin: 50px auto;

}

.areaMensaje .mu単eco{
  margin-bottom: 10px;
  width: 300px;
}

.areaMensaje h2{
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.areaMensaje p{
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  color: #0A3871;
}

.areaMensajeSwitch {
  display: none;
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 32px;
  margin: 30px;
  padding-top: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.messageOutput{
  margin: 100px auto;
  padding: 10px;
  font-size: 1.5em;
  color: #7f00b2;

}

.btnCopy{
  width: 20em;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7f00b2;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7f00b2;
  margin-top: 40vh;
}

.btnCopy:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ab49cc;
  box-shadow: 4px 5px 17px -4px #7f00b2;
}

.btnCopy::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7f00b2;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;

}

.btnCopy:hover::before{
  width: 250%;
}



/* fin area de mensaje encriptado */


.contenedor .contentFooter{
  background-color: #0A3871;
  padding: 10px;
  margin-top: auto;
  color: #2c9caf;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5)
}

.contentFooter span{
  padding: 5px;
  margin: 3px;
}

/* Medias queries */

/* celulares */



@media screen and (max-width: 480px){
  .contenedor{
    grid-template-areas: "header"
                        "contenido"
                        "sidebar"
                        "footer"
  }


  /* header */

  .contenedor .encabezado{
  background-color: #0A3871;
  padding: 7px;
  grid-area: header;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.encabezado span{
  color: #2c9caf;
  font-size: 1.8em;
  font-weight: 600;
}


/* main */

.contenedor .mainSection{
grid-area: contenido;
box-sizing: border-box;
}


.mainSection .inputText{
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  resize: none;
  margin-top: 30px;

}


.inputText .text{
  background-color: #E5E5E5;
  border: none;
  font-size: 2em;
  color: #ab49cc;
  max-height: 30vh;
  width: 70vw;
}


.text::placeholder{
  font-size: 1em;;
  color: #2c9caf;
  font-weight: 400;
}


  .mainSection .buttons{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.buttons .btnEncryptor{
  padding: 1em 2em;
  margin-bottom: 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.btnEncryptor:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btnEncryptor::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btnEncryptor:hover::before {
  width: 250%;
}



.buttons .btnDecryptor{
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7f00b2;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7f00b2;
}

.btnDecryptor:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ab49cc;
  box-shadow: 4px 5px 17px -4px #7f00b2;
}

.btnDecryptor::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7f00b2;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btnDecryptor:hover::before{
  width: 250%;
}








/* mensaje encriptado */
.contenedor .messageSection{
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 32px;
  margin: 15px auto;
  width: 75%;
  
}

.messageSection .areaMensaje{
  margin: 30px auto;
  width: 35%;
}

.areaMensaje .mu単eco{
  display: none;
}

.areaMensaje h2{
  font-size: 1em;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.areaMensaje p{
  font-style: italic;
  font-weight: 500;
  font-size: 0.8em;
  color: #0A3871;
}

.areaMensajeSwitch {
  display: none;
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 32px;
  margin: 30px;
  padding-top: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.messageOutput{
  margin: 30px auto;
  padding: 10px;
  font-size: 1.5em;
  color: #7f00b2;

}

.btnCopy{
  width: 15em;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7f00b2;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7f00b2;
  margin-top: 10vh;
}

.btnCopy:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ab49cc;
  box-shadow: 4px 5px 17px -4px #7f00b2;
}

.btnCopy::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7f00b2;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;

}

.btnCopy:hover::before{
  width: 250%;
}


}





/* tablets */

@media screen and (min-width: 481px) and (max-width: 912px) {


  .contenedor{
    grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "sidebar sidebar sidebar"
                        "footer footer footer"
  }


  
  /* main */
  
  .mainSection .inputText{
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    margin-top: 30px;
  }
  
  .inputText .text{
    background-color: #E5E5E5;
    /* border: none; */
    font-size: 2em;
    color: #ab49cc;
    resize: none;
    max-height: 30vh;
    width: 80vw;
    border: 1px solid #000;
  }
  
  
  textarea::placeholder{
    font-size: 1.2em;;
    color: #2c9caf;
    font-weight: 400;
    
  }
  
  .mainSection .text{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  
  /* mensaje encriptado */
  .messageSection .areaMensaje{
  margin: 60px auto;
}
  .areaMensaje .mu単eco{
  display: none;
}
.areaMensaje h2{
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.areaMensaje p{
  font-style: italic;
  font-weight: 500;
  font-size: 1.2em;
  color: #0A3871;
}
.areaMensajeSwitch {
  display: none;
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 16px;
  margin: 10px;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.messageOutput{
  margin: 10px auto;
  padding: 5px;
  font-size: 1.5em;
  color: #7f00b2;

}

.btnCopy{
  width: 90%;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7f00b2;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7f00b2;
  margin-top: 10vh;
}

.btnCopy:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ab49cc;
  box-shadow: 4px 5px 17px -4px #7f00b2;
}

.btnCopy::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7f00b2;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;

}

.btnCopy:hover::before{
  width: 250%;
}


}








/* notebooks */

@media screen and (min-width: 913px) and (max-width: 1368px){

/* navbar */
  .contenedor .encabezado{
  background-color: #0A3871;
  padding: 10px;
  grid-area: header;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.encabezado span{
  color: #2c9caf;
  font-size: 2.5em;
  font-weight: 800;
}

  /* main */

  .mainSection .inputText{
  margin-top: 40px;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
}


  .inputText .text{
  background-color: #E5E5E5;
  border: none;
  font-size: 2em;
  color: #ab49cc;
  resize: none;
  height: 60vh;
  width: 60vw;
  margin-left: 15px;
}

/* mensaje encriptado */

.contenedor .messageSection{
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 2em;
}

.messageSection .areaMensaje{
  margin: 50px auto;

}

.areaMensaje .mu単eco{
  margin-bottom: 10px;
  width: 250px;
}

.areaMensaje h2{
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.areaMensaje p{
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  color: #0A3871;
}

.areaMensajeSwitch {
  display: none;
  background-color: #fff;
  grid-area: sidebar;
  text-align: center;
  border-radius: 32px;
  margin-right: 30px;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.messageOutput{
  margin: 50px auto;
  padding: 5px;
  font-size: 1.5em;
  color: #7f00b2;
}

.btnCopy{
  width: 10em;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #7f00b2;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #7f00b2;
  margin-top: 45vh;
}

.btnCopy:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ab49cc;
  box-shadow: 4px 5px 17px -4px #7f00b2;
}

.btnCopy::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #7f00b2;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;

}

.btnCopy:hover::before{
  width: 250%;
}






/* footer */

.contenedor .contentFooter{
  background-color: #0A3871;
  padding: 10px;
  margin-top: auto;
  color: #2c9caf;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.contentFooter span{
  padding: 5px;
  margin: 3px;
}


}








